.list {
    margin: 0 0 1.1rem 0;
    list-style: none;
}

.list.inline {
    margin: 0 -20px;
}
.list.inline li i {
    margin: 1rem 2rem;
	display: inline-block;
	border: 0;
}

.list.inline li {
	display: inline-block;
    margin: 0 auto 1rem auto;
	border: 0;
}

ul .list > li:before {
	display: none;
	
}

 .center {
    margin-left: auto;
    margin-right: auto;
}

.icon {
  background-image: url("../images/sprite2.png");
  background-position: 0 -200px;
  background-repeat: no-repeat;
  height: 0;
  overflow: hidden;
  padding: 48px 0 0 0;
  display: inline-block;
  vertical-align: middle;
  background-size: 1000px 1000px;
  width: 48px;
  position: relative;
  overflow: visible; }
  .icon.nobg {
    background: none;
    padding: 0;
    height: auto; }
    .icon.nobg svg {
      height: 100%; }
  .icon svg {
    fill: #284348; }
  .icon.icon-osx {
    width: 61px;
    background-position: 0 -183px; }
  .icon.icon-ios {
    width: 57px;
    background-position: -100px -294px; }
  .icon.icon-windows {
    background-position: -200px -400px; }
  .icon.icon-chrome {
    background-position: -300px -500px; }
  .icon.icon-android {
    background-position: -400px -600px; }
  .icon.icon-server {
    background-position: -200px 0;
    padding-top: 100px;
    width: 92px; }
  .icon.icon-printer {
    background-position: -300px -100px;
    padding-top: 33px;
    width: 36px; }
  .icon.icon-network {
    background-position: -400px -200px;
    width: 30px;
    padding-top: 18px; }
  .icon.icon-multinetwork {
    background-position: -500px -300px;
    width: 84px;
    padding-top: 75px; }
	#logo
{
	content: '';
	/*background: url('../Images/sprite.png') -200px 0 no-repeat;*/
	background: url('../Images/logo.svg') 0 0 no-repeat;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
	mc-hidden: hidden;
	
}	